.userTodo{
  width: 100%;
  min-height: 100vh;
}
.userTodo .navbar {
  width: 100%;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 8px 14px;
  background: #fff;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
}
.navbar .logo{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navbar .logo h1{
  font-size: 26px;
  font-weight: 700;
  color: #363333;
}
.navbar .user_detail{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navbar .user_detail .user_profile{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 30px;
  object-fit: cover;
}
.navbar .user_detail .user_profile img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #000;
}
.navbar .user_detail .logout_user button{
  width: 90px;
}
.container{
  width: 100%;
  min-height: 86vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 15px;
}
.container .todo_task{
  width: 400px;
  min-height: 10vh;
  background-color: #fff;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px 15px;
}
.todo_task .input_task{
  width: 100%;
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.input_task input{
  width: 100%;
  min-height: 8vh;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 7px 10px;
  font-size: 17px;
}
.input_task button{
  width: 90px;
  height: 8vh;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 17px;
  font-weight: 700;
  background: #000;
  color: #fff;
}
.input_task button:hover{
  background: #272727;
}
.todo_task .task_list{
  width: 100%;
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 4px 10px;
  background-color: #000;
  margin: 9px 0;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.task_list:hover{
  background: #fff;
  border: 1px solid #000;
}
.task_list:hover p{
  color: #000;
}
.task_list:hover i{
  color: #000;
}
.task_list p{
  margin: 0;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
}
.task_list i{
  font-size: 17px;
  color: #fff;
}