body{
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  background-color: #157347;
}

#root{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  }